@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
    /* Primary */
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);

    /* Neutral */
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-light-gray: hsl(229, 31%, 21%);

    /* Font weight */
    --font-weight_normal: 400;
    --font-weight_bold: 500;

    /* Font base */
    --font-base: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: var(--font-base);
    overflow-x: hidden;
}


#header {
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
}

.navigation {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 8rem;
    /* color: white; */
}

.mobile_nav_lists {
    display: none;
}

.nav_lists {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav_lists li {
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
    transition: all .3s ease;
    color: var(--Very-light-gray);
}

.nav_lists li:hover {
    color: var(--Soft-Red);
    cursor: pointer;
}

.nav_lists li:last-child {
    background-color: var(--Soft-Red);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    /* font-size: 0.7rem; */
    box-shadow: 0px 5px 6px #ececec;
    transition: .1s ease;
}

.nav_lists li:last-child:hover {
    background-color: white;
    border: 2px solid var(--Soft-Red);
    color: var(--Soft-Red);
    font-weight: var(--font-weight_bold);
    overflow: 0;
    font-size: 0.7rem;
}



.header_body {
    width: 80%;
    height: 95%;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_body_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.left_content .title {
    font-size: 2.5rem;
    font-weight: var(--font-weight_bold);
    color: var(--Very-light-gray);
    line-height: 2.7rem;
}

.left_content .desc {
    color: var(--Grayish-Blue);
    line-height: 1.4rem;
    font-size: 1rem;
    font-weight: var(--font-weight_normal);
    margin: 20px 0;
    width: 90%;
}

.right_content {
    position: relative;
}

.hero_img {
    width: 34rem;
    z-index: 1;
    position: relative;
    right: -5rem;
    bottom: -10px;
}

.blue_background {
    width: 26rem;
    height: 18rem;
    background-color: var(--Soft-Blue);
    position: absolute;
    right: -8.25rem;
    bottom: -1.5rem;
    border-bottom-left-radius: 40%;
    z-index: -1;
}


.cta_btns {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.cta_btns button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: var(--font-weight_bold);
    cursor: pointer;
}

.chrome {
    background-color: var(--Soft-Blue);
    color: white;
    margin-right: 15px;
    box-shadow: 0px 3px 3px #d9d9d9;
    transition: all .3s ease;
}

.chrome:hover, .firefox:hover {
    background-color: white;
    border: 2px solid var(--Soft-Blue);
    color: var(--Soft-Blue);
    font-weight: var(--font-weight_bold);
}

.firefox {
    background-color: #ebebeb;
    box-shadow: 0px 3px 4px #d9d9d9;
    color: var(--Very-light-gray);
    transition: all .3s ease;
}

.firefox:hover {
    border: 2px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
}


/* Main Styles */
#main {
    width: 80%;
    margin: 0 auto;
}

.features_head, .extension_head, .questions_head {
    text-align: center;
    margin-bottom: 2rem;
}

.heading {
    font-weight: var(--font-weight_bold);
    font-size: 1.3rem;
    color: var(--Very-light-gray);
}

.features_head .desc, .extension_head .desc, .questions_head .desc {
    color: var(--Grayish-Blue);
    font-size: 0.9rem;
    width: 42%;
    margin: 20px auto;
    line-height: 1.38rem;
}

.tabs {
    width: 60%;
    margin: 4rem auto;
}

.tabs_container {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 20px; */
}

.tab {
    padding: 0 3rem 0 2rem;
    color: var(--Grayish-Blue);
    font-size: 0.9rem;
    cursor: pointer;
}

.tab:hover {
    color: var(--Soft-Red);
}

.tab.active {
    color: var(--Very-light-gray);
    border-bottom: 4px solid var(--Soft-Red);
    padding-bottom: 25px;
}

.tab_border {
    width: 100%;
    height: 1px;
    background-color: #e9e7e7;
}

.tab_blue_background {
    position: absolute;
    left: -8.5rem;
    bottom: -4.4rem;
    width: 33rem;
    height: 19rem;
    background-color: var(--Soft-Blue);
    z-index: -1;
    border-bottom-right-radius: 40%;
}

.tab_contents {
    margin-bottom: 10rem;
    position: relative;
    transition: all .3s ease;
}


.tab_content {
    display: none;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
}


.feature_img {
    width: 29rem;
    height: 20rem;
    object-fit: cover;
    margin-right: 7rem;
}

.content_right h2 {
    font-weight: var(--font-weight_bold);
    color: var(--Very-light-gray);
    font-size: 1.7rem;
}

.content_right p {
    color: var(--Grayish-Blue);
    margin: 1rem 0;
    line-height: 1.5rem;
}

.content_right button {
    background-color: var(--Soft-Blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: var(--font-weight_bold);
}

.tab_content.active {
    display: flex;
}


/* Download the extension */
.extension_container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.extension_cards {
    margin-bottom: 4rem;
    display: flex;
}

.extension_card {
    background-color: white;
    box-shadow: 0px 3px 5px #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin: 0 10px;
}

.extension_img {
    width: 4rem;
    margin: 30px 0;
}

.extension_card h2 {
    font-size: 0.95rem;
    font-weight: var(--font-weight_bold);
    color: var(--Very-light-gray);
}

.extension_card p {
    font-size: 0.7rem;
    color: var(--Grayish-Blue);
    margin: 5px 0;
}

.extension_border {
    width: 12rem;
    margin: 30px 0 15px 0;
}

.extension_card button {
    background-color: var(--Soft-Blue);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 0.75rem;
    font-weight: var(--font-weight_bold);
    cursor: pointer;
}

.extension_card button:hover {
    background-color: white;
    color: var(--Soft-Blue);
    border: 2px solid var(--Soft-Blue);
    font-weight: var(--font-weight_bold);
}

.extension_card:nth-child(2) {
    position: relative;
    top: 2rem;
}

.extension_card:nth-child(3) {
    position: relative;
    top: 4rem;
}


/* Frequently Asked Questions */
.questions {
    margin: 7rem 0;
}

.accordions {
    width: 100%;
    margin-top: 4rem;
}

.accordions_container {
    width: 50%;
    margin: 0 auto;
}

.accordion_tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d4d4d4;
    padding: 20px 10px;
    cursor: pointer;
}


.accordion:nth-child(4) .accordion_tab {
    border-bottom: 1px solid #d4d4d4;
}

.accordion_tab h2 {
    font-size: 1.1rem;
    font-weight: var(--font-weight_normal);
    color: var(--Very-light-gray);
}

.accordion_tab:hover h2 {
    color: var(--Soft-Red);
}

.arrow1.hidden {
    display: none;
}


.arrow2 {
    display: none;
}

.arrow2.visible {
    display: block;
}


.accordion_content {
    width: 100%;
    display: none;
}

.accordion_content p {
    width: 100%;
    font-size: 0.95rem;
    padding: 15px 5px 10px 10px;
    line-height: 1.5rem;
    color: var(--Grayish-Blue);
}

.accordion_content.visible {
    display: block;
}

.accordion_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.accordion_btn button {
    background-color: var(--Soft-Blue);
    color: white;
    font-size: 0.85rem;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
}


footer {
    width: 100%;
}

.contact {
    background-color: var(--Soft-Blue);
}

.contact_container {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    /* background-color: red; */
}

.contact_container p {
    color: white;
    text-align: center;
}

.proof {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1.8px;
}

.cta {
    font-size: 1.5rem;
    font-weight: var(--font-weight_bold);
    text-align: center;
    margin: 20px 0;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.form input {
    padding: 8px;
    width: 75%;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
}

.input.error {
    border: 2px solid var(--Soft-Red);
}

.form button {
    background-color: var(--Soft-Red);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-size: 0.75rem;
    /* margin-left: 5px; */
    font-weight: var(--font-weight_bold);
    width: 25%;
    cursor: pointer;
}

.form button:hover {
    border: 2px solid var(--Soft-Red);
    color: var(--Soft-Red);
    background-color: white;
}

.error_icon {
    color: var(--Soft-Red);
    position: relative;
    right: 20px;
    top: 2px;
    display: none;
    visibility: hidden;
}


.text {
    background-color: var(--Soft-Red);
    font-size: 0.7rem;
    width: 71.7%;
    position: absolute;
    bottom: -1.25rem;
    padding: 4px;
    font-style: italic;
    text-align: left;
    display: none;
}

.text.visible {
    display: block;
}

.footer {
    background-color: var(--Very-light-gray);
}

.footer_content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.footer_left {
    display: flex;
    align-items: center;
}

.logo_footer {
    width: 7rem;
    margin-right: 20px;
}

.footer_left ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.footer_left ul li {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--Grayish-Blue);
    margin: 0 20px;
    cursor: pointer;
}

.footer_left ul li:hover {
    color: var(--Soft-Red);
}

.footer_right img {
    width: 18px;
    margin-left: 20px;
    cursor: pointer;
}





@media screen and (max-width: 900px) {
    .navigation {
        width: 85%;
    }

    .nav_lists {
        display: none;
    }

    .mobile_nav_lists {
        display: block;
    }

    .menu__bar {
        width: 1.2rem;
    }



    .nav__lists {
        display: none;
        background-color: var(--Very-light-gray);
        width: 100%;
        min-height: 95vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 7rem 0;
        opacity: 0.98;
        transition: all .3s ease;
    }

    .nav__lists .close__bar {
        position: absolute;
        top: 30px;
        right: 40px;
        width: 1.2rem;
    }

    .nav__lists li {
        width: 80%;
        margin: 0 auto;
        list-style: none;
        color: white;
        border-top: 0.2px solid #b5b5b5;
        padding: 30px 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.05rem;
        letter-spacing: 1px;
    }


    .nav__lists .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 3rem;
        left: 0;
        right: 0;
    }

    .nav__lists .socials img {
        margin: 0 15px;
        width: 1.5rem;
    }

    .nav__lists.visible {
        display: block;
    }

    .header_body {
        width: 85%;
        min-height: 90%;
    }

    .header_body_container {
        width: 100%;
        flex-direction: column-reverse;
    }

    .right_content {
        width: 100%;
    }

    .hero_img {
        width: 110%;
        /* position: static; */
        left: -10px;
        right: 0;
    }

    .blue_background {
        width: 100%;
        height: 12.5rem;
        border-bottom-left-radius: 35%;
        right: -2rem;
    }

    .left_content {
        margin-top: 3.5rem;
        text-align: center;
    }

    .left_content .title {
        font-size: 2rem;
    }
    
    .left_content .desc {
        width: 100%;
    }

    .cta_btns {
        width: 100%;
        justify-content: center;
    }

    .cta_btns button {
        padding: 12px 20px;
    }

    /* Main Component */

    #main {
        width: 100%;
        overflow-x: hidden;
    }

    .features, .extensions, .questions {
        width: 85%;
        margin: 2rem auto;
    }

    .features_head, .extension_head, .questions_head {
        margin-bottom: 0;
    }

    .features_head .desc, .extension_head .desc, .questions_head .desc {
        width: 100%;
        font-size: 0.95rem;
    }

    .tabs {
        width: 100%;
        margin: 2.5rem 0 2rem 0;
    }

    .tabs_container {
        flex-direction: column;
    }

    .tab_border {
        display: none;
    }

    .tab {
        border-top: 1px solid #eae8e8;
        padding: 20px;
        text-align: center;
        font-size: 1rem;
    }

    .tab:last-child {
        border-bottom: 1px solid #eae8e8;
    }

    .tab.active {
        color: var(--Very-light-gray);
        border-bottom: 4px solid var(--Soft-Red);
        padding-bottom: 20px;
        
    }

    .tab_contents {
        margin: 3rem 0 5rem 0;
    }

    .tab_content {
        width: 100%;
        flex-direction: column;
    }

    .feature_img {
        width: 100%;
        /* height: 100%; */
        margin-bottom: 3rem;
        object-fit: cover;
    }

    .content_right h2 {
        font-size: 1.5rem;
    }

    .content_right p {
        font-size: 0.95rem;
    }

    .tab_blue_background {
        top: 5.8rem;
        width: 25rem;
        height: 17rem;
        border-bottom-right-radius: 25%;
    }

    .content_right {
        margin-top: 35px;
        text-align: center;
    }

    .content_right button {
        display: none;
    }

    /* Download Extension */
    .extension_container {
        width: 100%;
        margin-bottom: 20px;
        /* background-color: red; */
    }

    .extension_cards {
        width: 100%;
        margin: 2rem 0;
        flex-direction: column;
        /* background-color: yellow; */
    }

    .extension_card {
        width: 100%;
        padding: 2rem 1rem;
        margin: 0 0 10px 0;
    }

    .extension_img {
        width: 5.5rem;
    }

    .extension_card h2 {
        font-size: 1.1rem;
    }

    .extension_card p {
        font-size: 0.8rem;
    }

    .extension_border {
        width: 100%;
    }

    .extension_card button {
        width: 100%;
        font-size: 0.8rem;
    }

    /* Accordion */
    .questions_head {
        margin-top: 8rem;
    }

    .accordions_container {
        width: 100%;
    }

    .accordion_tab h2 {
        font-size: 1.07rem;
        font-weight: var(--font-weight_normal);
        color: var(--Very-light-gray);
    }

    .accordion_tab:hover h2 {
        color: var(--Very-light-gray);
    }

    /* footer */

    .contact_container {
        width: 100%;
    }


    .form {
        width: 80%;
        flex-direction: column;
    }

    .form input {
        width: 100%;
        padding: 10px;
    }

    .error_icon {
        right: -7.5rem;
        top: -1.7rem;
    }


    .text {
        width: 100%;
        bottom: 3.5rem;
        padding: 6px;
        /* margin-bottom: 30px; */
    }

    .form button {
        width: 100%;
        margin: 5px 0 0 0;
        padding: 13px;
    }

    .form button:hover {
        border: none;
        background-color: var(--Soft-Red);
        color: white;
    }

    .footer_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    .logo_footer {
        margin-bottom: 20px;
        width: 8rem;
    }

    .footer_left {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer_left ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer_left ul li {
        margin-bottom: 20px;
        font-size: 0.9rem;
    }

    .footer_right img {
        margin: 0 20px;
    }
}
